---
  import SEO from '../components/SEO.astro';
  import Nav from '../components/Nav.astro';
  import Footer from '../components/Footer.astro';

  let title = 'Peoplebank | Meet The Team | Peoplebank Staff';
  let description = 'Meet some of our staff here at Peoplebank.';
  let permalink = 'https://peoplebank.com/about-us/';
---

<html lang="en-GB" dir="ltr">
<head>
  <SEO title={title} description={description} permalink={permalink} />
</head>

<body>
  <Nav />
  <header class="header">
    <div class="content">
      <h1>404</h1>
      <p class="tag">Looks like you are lost</p>
      <a href="#" class="btn">Get Demo</a>
    </div>
  </header>
  <main class="main">

  </main>
  <Footer />
</body>
</html>