---
  import SEO from '../components/SEO.astro';
  import Nav from '../components/Nav.astro';
  import Footer from '../components/Footer.astro';

  let title = 'Peoplebank | Meet The Team | Peoplebank Staff';
  let description = 'Meet some of our staff here at Peoplebank.';
  let permalink = 'https://peoplebank.com/about-us/';
---

<html lang="en-GB" dir="ltr">
<head>
  <SEO title={title} description={description} permalink={permalink} />
</head>

<body>
  <Nav />
  <header class="header">
    <div class="content">
      <h1>About Us</h1>
      <p class="tag">Find, engage and hire the best talent for your business with Peoplebank</p>
      <a href="#" class="btn">Get Demo</a>
    </div>
  </header>
  <main class="main">

    <h2>Why choose our ATS?</h2>

    <p class="gap-3">From creating and posting job adverts, managing candidates and scheduling interviews, to sending offer letters, you can use our ATS to manage and streamline your entire recruitment process.</p>

    <h3 class="ticked">Reduce your time to hire</h3>

    <p>Hire the best candidates more efficiently by managing your job adverts, engaging with candidates and scheduling interviews directly from your ATS.</p>

    <h3 class="ticked">Custom-built to fit your needs</h3>
    
    <p>Let us know what you need and we’ll build you a custom ATS tailored to your hiring requirements.</p>
    
    <h3 class="ticked">Enjoy ongoing training and support</h3>
    
    <p class="gap-3">We will partner you with a dedicated Account Manager to onboard, train and offer ongoing support to you and your team.</p>

    <figure class="gap-3">
      <blockquote>
          <p>“The best thing about this process, and in partnering with Peoplebank, has been their determination to understand and deliver upon our objectives. Peoplebank truly has a talented team.”</p>
      </blockquote>
      <figcaption>— <cite>Mamas & Papas</cite></figcaption>
    </figure>

    <div class="band full-bleed gap-3">
      <h2>What can you do with our ATS?</h2>

      <div class="band-item">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120">
            <rect fill="#ddd" width="120" height="120"/>
            <text fill="rgba(0,0,0,0.5)" font-family="sans-serif" font-size="30" dy="10.5" font-weight="bold" x="50%" y="50%" text-anchor="middle">120</text>
          </svg>
        </div>
        <div>
          <h3>Manage Candidates</h3>
          <p>Easily review and manage all of your candidate applications and CVs through your ATS. Send documentation and communicate with candidates through every stage of the application process.</p>
        </div>
      </div>

      <div class="band-item">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120">
            <rect fill="#ddd" width="120" height="120"/>
            <text fill="rgba(0,0,0,0.5)" font-family="sans-serif" font-size="30" dy="10.5" font-weight="bold" x="50%" y="50%" text-anchor="middle">120</text>
          </svg>
        </div>
        <div>
          <h3>Manage job adverts</h3>
          <p>Create and post new job adverts to all your chosen job boards directly from your ATS. See a live preview of your ads before you post them, and edit and manage existing job ads.</p>
        </div>
      </div>

      <div class="band-item">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120">
            <rect fill="#ddd" width="120" height="120"/>
            <text fill="rgba(0,0,0,0.5)" font-family="sans-serif" font-size="30" dy="10.5" font-weight="bold" x="50%" y="50%" text-anchor="middle">120</text>
          </svg>
        </div>
        <div>
          <h3>Build your talent bank</h3>
          <p>Search your ATS to find all the candidates that have applied for any of your current and past open roles within your ATS. Refine your search results with over twenty different search filters and make your talent bank your hiring manager's first destination for sourcing candidates.</p>
        </div>
      </div>

    </div>

    <h2>And thats not all...</h2>
    
    <h3>Integrations</h3>
    
    <p>We have a range of integrations to help you manage your entire hiring process, including:</p>

    <ul class="gap-3">
      <li>Leading job boards so you can post your job adverts quickly and easily</li>
      <li>Payroll providers to make your onboarding process for new hires as smooth as possible</li>
      <li>Integrations to streamline your candidate journey, including electronic signature and interview scheduling platforms</li>
    </ul>

    <h3>Reporting</h3>

    <p class="gap-3">Use custom reports to track and measure the performance of your job adverts and other channels. Monitor the number of clicks and applications for each job advert and see the number of candidates offered interviews and the number of hires made. Track key hiring metrics and monitor your marketing spend to see which candidate sources are the most productive - ensure your marketing budget is going towards the correct job boards.</p>

    <h3>Training</h3>
    
    <p class="gap-3">Inside the ‘Training Centre’ on your Peoplebank dashboard, you’ll find detailed video guides showing you how to use each section of your Peoplebank ATS. As well as your initial onboarding we offer regular live training sessions so we can help you get the most out of every feature of your ATS.</p>

    <h3>Authorisation to recruit</h3>

    <p>We work with you to make sure your authorisation to recruit (ATR) process is fully integrated with your ATS. Whether you want to start by creating a job advert which automatically goes live as soon as the ATR is approved, or the approval alerts you to create the job advert. We can automate the process to make hiring as easy as possible for you and your team.</p>

  </main>
  <Footer />
</body>
</html>