---
  import SEO from '../components/SEO.astro';
  import Nav from '../components/Nav.astro';
  import Footer from '../components/Footer.astro';

  let title = 'Candidate Experience Solutions | Peoplebank';
  let description = "Attract the right candidates and provide an engaging candidate journey with our candidate experience solutions, designed to fit your business";
  let permalink = 'https://peoplebank.com/';
---

<html lang="en-GB" dir="ltr">
<head>
  <SEO title={title} description={description} permalink={permalink} />
</head>

<body>
  <Nav />
  <header class="header">
    <div class="width-l">
      <div class="header-content">
        <h1>Candidate Experience Solutions</h1>
        <p class="tag">Attract the best talent with our custom-built candidate experience solutions</p>
        <a href="#" class="cta">Book a Demo</a>
      </div>
    </div>
  </header>
  <main class="main">

    <section class="gap-m">
      <div class="width-s">
        <h2 class="text-center">Enhance your candidate journey</h2>
        <p>Offering a great candidate experience is key to attracting and securing the best talent. Candidates want to know what your company has to offer and why they should work for you. At Peoplebank, we provide you with candidate experience solutions that will make your brand stand out. Manage the entire candidate journey - view candidate applications, manage the status and progress of applications, send out offer letters and more directly from your ATS.</p>
      </div>
    </section>

    <section class="gap-m">
      <h2 class="text-center gap-m">What candidate experience solutions do we offer?</h2>
      <h3 class="text-center">Careers sites</h3>
      <p>We work with you to create a careers site that promotes and clearly highlight your company's values and give your applicants a positive first impression of your business</p>
      <h3 class="text-center">Job adverts</h3>
      <p>Create job adverts directly from your ATS and post them to multiple platforms to start attracting talent in minutes</p>
      <h3 class="text-center">Application forms</h3>
      <p>Create user-friendly application forms, curate the questions you ask applicants and give your applicants a smooth application process to reduce candidate drop-off</p>
      <h3 class="text-center">Candidate support</h3>
      <p>Our support team are on hand to answer any queries or concerns your candidates may have at any point in their candidate journey</p>
    </section>

    <section class="gap-m">
      <div class="width-s">
        <h2 class="text-center">Streamline your recruitment process</h2>
        <p class="text-center">Enhance your hiring with candidate experience solutions that will make help you attract the right candidates and make your brand stand out</p>
        <p class="text-center"><a href="#" class="cta cta-dark">Book a Demo</a></p>
      </div>
    </section>

  </main>
  <Footer />
</body>
</html>