---
  import SEO from '../components/SEO.astro';
  import Nav from '../components/Nav.astro';
  import Footer from '../components/Footer.astro';

  let title = 'Peoplebank Clients';
  let description = "We are proud that some of the UK's leading brands choose Peoplebank as their recruitment technology partner. See who we work with.";
  let permalink = 'https://peoplebank.com/clients/';
---

<html lang="en-GB" dir="ltr">
<head>
  <SEO title={title} description={description} permalink={permalink} />
</head>

<body>
  <Nav />
  <header class="header">
    <div class="width-l">
      <div class="header-content">
        <h1>Clients</h1>
        <p class="tag">Find, engage and hire the best talent for your business with Peoplebank</p>
        <a href="#" class="btn">Book a Demo</a>
      </div>
    </div>
  </header>
  <main class="main">

  </main>
  <Footer />
</body>
</html>