---
  import SEO from '../components/SEO.astro';
  import Nav from '../components/Nav.astro';
  import Footer from '../components/Footer.astro';

  let title = 'Contact Details for Peoplebank | Applicant Tracking System (ATS)';
  let description = "Contact Peoplebank today to discuss our awarding winning ATS solutions on +44 131 653 1258, sales@peoplebank.com or visit our website for online enquiry form.";
  let permalink = 'https://peoplebank.com/contact/';
---

<html lang="en-GB" dir="ltr">
<head>
  <SEO title={title} description={description} permalink={permalink} />
</head>

<body>
  <Nav />
  <header class="container hero">
    <div class="hero-content">
        <h1>Contact</h1>
        <p class="tag">Find, engage and hire the best talent for your business with Peoplebank</p>
        <a href="#" class="cta">Book a Demo</a>
      </div>
    </div>
  </header>
  <main class="main">

    <div class="width-s">

          <h2>Get in touch</h2>

          <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
              portalId: "4105295",
              formId: "22d19520-4a3e-48c8-873d-36116ca738a3"
          });
          </script>
          <br><br><br>
</div>


  </main>
  <Footer />
</body>
</html>