---
  import SEO from '../components/SEO.astro';
  import Nav from '../components/Nav.astro';
  import Footer from '../components/Footer.astro';

  let title = 'Job Board Integrations';
  let description = 'Publish directly to multiple job boards from our Peoplebank ATS with just one click.';
  let permalink = 'https://peoplebank.com/integrations';
---

<html lang="en-GB" dir="ltr">
<head>
  <SEO title={title} description={description} permalink={permalink} />
</head>

<body>
  <Nav />
  <header class="header">
    <div class="width-l">
      <div class="header-content">
        <h1>Integrations</h1>
        <p class="tag">Find, engage and hire the best talent for your business with Peoplebank</p>
        <a href="#">Book a Demo</a>
      </div>
    </div>
  </header>
  <main class="main">

  </main>
  <Footer />
</body>
</html>