---
  import SEO from '../components/SEO.astro';
  import Nav from '../components/Nav.astro';
  import Footer from '../components/Footer.astro';

  let title = 'Articles | Recent Updates';
  let description = 'Opinions and advice from the Peoplebank account management team.';
  let permalink = 'https://peoplebank.com/';
---

<html lang="en-GB" dir="ltr">
<head>
  <SEO title={title} description={description} permalink={permalink} />
</head>

<body>
  <Nav />
  <header class="container hero">
    <div class="hero-content">
        <h1>Resources</h1>
        <p class="tag">Find, engage and hire the best talent for your business with Peoplebank</p>
        <a href="#" class="cta">Book a Demo</a>
      </div>
  </header>
  <main class="main">

  </main>
  <Footer />
</body>
</html>