---
  import SEO from '../components/SEO.astro';
  import Nav from '../components/Nav.astro';
  import Footer from '../components/Footer.astro';

  let title = 'Manage Candidates | Candidate Database | Manage Adverts';
  let description = 'Manage candidates via our market leading solution and track candidate responses using our Response Manager.';
  let permalink = 'https://peoplebank.com/solutions/';
---

<html lang="en-GB" dir="ltr">
<head>
  <SEO title={title} description={description} permalink={permalink} />
</head>

<body>
  <Nav />
  <header class="header">
    <div class="width-l">
      <div class="header-content">
        <h1>Our Solutions</h1>
        <p class="tag">Find, engage and hire the best talent for your business with Peoplebank</p>
        <a href="#" class="btn">Get Demo</a>
      </div>
    </div>
  </header>
  <main class="main">

    <section class="gap-s">
      <div class="width-s">
        <h2 class="center-text">Why choose our ATS?</h2>
        <p>From creating and posting job adverts, managing candidates and scheduling interviews, to sending offer letters, you can use our ATS to manage and streamline your entire recruitment process.</p>
      </div>
    </section>

    <section class="hilights gap-s">
      <div class="width-l">
        <div class="hilight">
          <div class="icon">
            <svg class="w-7 mb-2" viewBox="0 0 28 32"><path fill-rule="evenodd" clip-rule="evenodd" d="M19.998 4.112L20 4C20 3.95767 19.9993 3.9155 19.998 3.87348C19.9312 1.72289 18.1668 0 16 0C13.7909 0 12 1.79086 12 4L11.998 4.112L6 4.11296C4.89543 4.11296 4 5.00839 4 6.11296V12C1.79086 12 0 13.7909 0 16C0 18.2091 1.79086 20 4 20V26.113C4 27.2175 4.89543 28.113 6 28.113L12.0016 28.1141C12.062 30.2705 13.829 32 16 32C18.1087 32 19.8363 30.3682 19.989 28.2985L19.994 28.112L26 28.113C27.1046 28.113 28 27.2175 28 26.113L27.998 19.998L26 20L25.7015 19.989C23.6318 19.8363 22 18.1087 22 16L22.011 15.7015C22.1637 13.6318 23.8913 12 26 12L27.998 11.998L28 6.11296C28 5.00839 27.1046 4.11296 26 4.11296L19.998 4.112ZM25.9997 6.11296L17.962 6.11168L17.9999 3.98514C17.992 2.88741 17.0996 2 16 2C14.8954 2 14 2.89543 14 4V4.01786L13.9626 6.11169L6.00032 6.11296L6 14H4C2.89543 14 2 14.8954 2 16C2 17.1046 2.89543 18 4 18H6V26.113L13.9464 26.1145L14.0008 28.0581C14.031 29.1352 14.9148 30 16 30C17.0402 30 17.8965 29.2046 17.9912 28.1902L18.0466 26.1117L26 26.113L25.9987 22L25.9643 22L25.5911 21.9863L25.5543 21.9836C22.4477 21.7544 20 19.164 20 16V15.9633L20.0137 15.5911L20.0164 15.5543C20.2456 12.4482 22.8353 10.0007 25.9987 10C25.9987 10 25.9986 10 25.9987 10C25.9991 10 25.9996 10 26 10M26 11.9973L25.998 11.9973L25.9985 10.5087L25.9987 10L25.9997 6.11296" fill="white"></path></svg>
          </div>
          <h3>Reduce your time to hire</h3>
          <p>Hire the best candidates more efficiently by managing your job adverts, engaging with candidates and scheduling interviews directly from your ATS.</p>
        </div>
        <div class="hilight">
          <div class="icon">
            <svg class="w-7 mb-2" viewBox="0 0 32 32"><path fill-rule="evenodd" clip-rule="evenodd" d="M4 3.99998C4 2.52722 5.19391 1.33331 6.66667 1.33331H19.9763C20.6836 1.33331 21.3618 1.61426 21.8619 2.11436L27.219 7.47138C27.719 7.97148 28 8.64976 28 9.357V28C28 29.4727 26.8061 30.6666 25.3333 30.6666H6.33333C5.78105 30.6666 5.33333 30.2189 5.33333 29.6666C5.33333 29.1144 5.78105 28.6666 6.33333 28.6666H25.3333C25.7015 28.6666 26 28.3682 26 28V11.3333H20.6667C19.1939 11.3333 18 10.1394 18 8.66665V3.33331H6.66667C6.29848 3.33331 6 3.63179 6 3.99998V12.3333C6 12.8856 5.55229 13.3333 5 13.3333C4.44772 13.3333 4 12.8856 4 12.3333V3.99998ZM20 3.33373V8.66665C20 9.03484 20.2985 9.33331 20.6667 9.33331H25.9996C25.9936 9.1651 25.9242 9.00503 25.8047 8.8856L20.4477 3.52857C20.3283 3.40915 20.1682 3.33971 20 3.33373Z" fill="white"></path><path d="M6.04049 16.3195C6.41629 16.7242 6.39285 17.357 5.98814 17.7328L2.46961 21L5.98814 24.2672C6.39285 24.643 6.41629 25.2757 6.04049 25.6804C5.66468 26.0851 5.03195 26.1086 4.62724 25.7328L0.319549 21.7328C0.115782 21.5436 0 21.2781 0 21C0 20.7219 0.115782 20.4564 0.319549 20.2672L4.62724 16.2672C5.03195 15.8914 5.66468 15.9148 6.04049 16.3195Z" fill="white"></path><path d="M11.3452 17.7328C10.9405 17.357 10.917 16.7242 11.2928 16.3195C11.6687 15.9148 12.3014 15.8914 12.7061 16.2672L17.0138 20.2672C17.2176 20.4564 17.3333 20.7219 17.3333 21C17.3333 21.2781 17.2176 21.5436 17.0138 21.7328L12.7061 25.7328C12.3014 26.1086 11.6687 26.0851 11.2928 25.6804C10.917 25.2757 10.9405 24.643 11.3452 24.2672L14.8637 21L11.3452 17.7328Z" fill="white"></path></svg>
          </div>
          <h3>Custom-built to fit your needs</h3>
          <p>Let us know what you need and we’ll build you a custom ATS tailored to your hiring requirements..</p>
        </div>
        <div class="hilight">
          <div class="icon">
            <svg class="w-7 mb-2" viewBox="0 0 32 24"><path d="M16 0C13.293 0 9.59375 1.90909 6.3125 4.09091C4.67188 5.18182 3.19141 6.35369 2.0625 7.46591C1.49609 8.01989 1.01562 8.56108 0.65625 9.10227C0.296875 9.64347 0 10.1804 0 10.9091C0 11.9446 0.511719 12.8011 1.125 13.3636C1.73828 13.9261 2.46484 14.2884 3.15625 14.5568C3.83594 14.821 4.49609 14.9915 5 15.1023V18.8864L5.1875 19.1932C5.1875 19.1932 6.0625 20.4631 7.8125 21.6477C9.5625 22.8324 12.25 24 16 24C19.75 24 22.4375 22.8324 24.1875 21.6477C25.9375 20.4631 26.8125 19.1932 26.8125 19.1932L27 18.8864V15.1364C27.5078 15.0298 28.1719 14.8466 28.8438 14.5909C29.5391 14.3267 30.2578 13.9688 30.875 13.3977C31.4922 12.8267 32 11.9531 32 10.9091C32 10.1847 31.7031 9.6179 31.3438 9.06818C30.9844 8.51847 30.5039 7.99006 29.9375 7.43182C28.8047 6.31534 27.3281 5.14347 25.6875 4.05682C22.4062 1.88778 18.6992 0 16 0ZM16 2.18182C17.7188 2.18182 21.5117 3.83949 24.625 5.89773C26.1836 6.92472 27.6016 8.05398 28.5938 9.03409C29.0898 9.52415 29.4844 9.97159 29.7188 10.3295C29.9531 10.6875 30 10.9517 30 10.9091C30 11.2287 29.8828 11.429 29.5625 11.7273C29.2422 12.0256 28.7109 12.3324 28.1562 12.5455C27.0938 12.9503 26.0586 13.0824 25.9688 13.0909C25.4023 12.9673 20.8516 12 16 12C11.1914 12 6.69922 12.9545 6.0625 13.0909C5.96875 13.0781 4.91406 12.929 3.84375 12.5114C3.28516 12.294 2.76172 11.9915 2.4375 11.6932C2.11328 11.3949 2 11.1903 2 10.9091C2 10.9773 2.04688 10.7173 2.28125 10.3636C2.51562 10.0099 2.91016 9.55824 3.40625 9.06818C4.39844 8.09233 5.81641 6.96733 7.375 5.93182C10.4883 3.8608 14.2891 2.18182 16 2.18182ZM12.875 6.54545C11.0469 6.54545 9 7.63636 9 7.63636C12.0469 7.63636 14.0547 8.82102 15.0625 9.54545C15.0391 9.63494 15 9.72017 15 9.81818C15 10.419 15.4492 10.9091 16 10.9091C16.5508 10.9091 17 10.419 17 9.81818C17 9.72017 16.9609 9.63494 16.9375 9.54545C17.9453 8.82102 19.9531 7.63636 23 7.63636C23 7.63636 20.9531 6.54545 19.125 6.54545C17.3125 6.54545 16 7.60227 16 7.60227C16 7.60227 14.6875 6.54545 12.875 6.54545ZM16 14.1818C20.2578 14.1818 23.9492 14.8892 25 15.1023V17.2159C23.3984 16.8835 20.3008 16.3636 16 16.3636C11.6992 16.3636 8.60156 16.8835 7 17.2159V15.1023C8.05078 14.8892 11.7422 14.1818 16 14.1818ZM16 18.5455C19.6172 18.5455 22.2578 18.9247 23.9062 19.2273C23.6953 19.402 23.4531 19.6065 23.1562 19.8068C21.6875 20.804 19.375 21.8182 16 21.8182C12.625 21.8182 10.3125 20.804 8.84375 19.8068C8.54688 19.6065 8.30469 19.402 8.09375 19.2273C9.74219 18.9247 12.3828 18.5455 16 18.5455Z" fill="white"></path></svg>
          </div>
          <h3>Enjoy ongoing training and support</h3>
          <p>We will partner you with a dedicated Account Manager to onboard, train and offer ongoing support to you and your team.</p>
        </div>
      </div>
    </section>

    <section class="gap-m">
      <div class="width-s">
        <figure class="shoutout">
          <svg id="Logo_Large" data-name="Logo/Large" xmlns="http://www.w3.org/2000/svg" width="149.003" height="56" viewBox="0 0 149.003 56"> <path id="Union_6" data-name="Union 6" d="M77.111,56a.669.669,0,0,1-.671-.668V26.48c0-.027,0-.05,0-.076a.67.67,0,0,1,.671-.668h8.782c7.24,0,10.65,6.023,10.65,11.234,0,5.944-4.3,11-10.611,11H80.253l0,7.316c0,.017,0,.03,0,.045a.668.668,0,0,1-.668.668Zm3.142-11.8h5.6a7.188,7.188,0,0,0,6.626-7.342v-.04a7.165,7.165,0,0,0-6.622-7.3h-5.6ZM28.909,56a.669.669,0,0,1-.671-.668V26.4a.67.67,0,0,1,.671-.668h8.782c7.242,0,10.65,6.023,10.65,11.234,0,5.944-4.3,11-10.611,11H32.051l0,7.316v.045a.668.668,0,0,1-.67.668Zm3.142-11.8h5.6a7.188,7.188,0,0,0,6.626-7.342v-.04a7.164,7.164,0,0,0-6.621-7.3h-5.6Zm67.039-7.231c0-6.408,4.686-11.118,10.8-11.118a8.5,8.5,0,0,1,7.825,4.323V26.406a.671.671,0,0,1,.674-.667h2.684a.669.669,0,0,1,.671.667v.036h0V47.4a.669.669,0,0,1-.671.669h-2.684a.674.674,0,0,1-.674-.669V43.8a8.513,8.513,0,0,1-7.825,4.286C103.116,48.083,99.089,42.832,99.089,36.965Zm4.027.039v.039a7.222,7.222,0,0,0,7.36,7.3,6.887,6.887,0,0,0,6.544-4.17,7.823,7.823,0,0,0,.735-3.125,6.677,6.677,0,0,0-.618-3.127,7.032,7.032,0,0,0-6.74-4.324A7.2,7.2,0,0,0,103.116,37Zm-52.229-.039c0-6.408,4.687-11.118,10.806-11.118a8.5,8.5,0,0,1,7.823,4.323V26.406a.672.672,0,0,1,.674-.667h2.684a.668.668,0,0,1,.669.667v.036h0V47.4a.668.668,0,0,1-.669.669H70.191a.674.674,0,0,1-.674-.669V43.8a8.511,8.511,0,0,1-7.823,4.286C54.917,48.083,50.888,42.832,50.888,36.965ZM54.917,37v.039a7.219,7.219,0,0,0,7.358,7.3,6.885,6.885,0,0,0,6.545-4.17,7.841,7.841,0,0,0,.736-3.125,6.666,6.666,0,0,0-.619-3.127A7.032,7.032,0,0,0,62.2,29.592,7.2,7.2,0,0,0,54.917,37Zm69.224,5.117c0-.021-.011-.064-.011-.064a.728.728,0,0,1-.011-.1.669.669,0,0,1,.671-.668h2.671a.669.669,0,0,1,.659.563,3.537,3.537,0,0,0,3.648,2.835,3.248,3.248,0,0,0,3.448-3.128c-.04-2.084-1.628-2.778-5.384-4.014-2.944-.887-5.266-2.278-5.305-5.443,0-3.974,3.253-6.369,7.087-6.369,2.724,0,6.225,1.259,6.908,5.263.006.024.018.089.022.1s0,.049,0,.067a.667.667,0,0,1-.67.667h-2.623a.669.669,0,0,1-.662-.576l0-.006a2.674,2.674,0,0,0-3.013-2.234,2.733,2.733,0,0,0-3.022,2.7c.08,1.659,1.587,2.431,3.835,3.05,3.216.888,6.74,1.814,6.856,6.329.077,4.091-3.33,6.871-7.512,6.871C128.6,47.972,124.752,46.3,124.141,42.121ZM0,37.944c0-3.976,2.426-7.186,7.409-9.8l-.2-.185c-2.235-2.088-3.945-3.942-3.945-7.221A7.9,7.9,0,0,1,10.537,12.9h.041a.666.666,0,0,1,.669.666h0v2.289a.666.666,0,0,1-.575.656h-.013a4.177,4.177,0,0,0-3.522,4.133c0,2.122,1.193,3.236,2.7,4.646.11.1.223.206.333.31l.039.035,2.634,2.481.1.1,6.855,6.542L23.8,26.169l.009-.019a.636.636,0,0,1,.6-.39h.266a.668.668,0,0,1,.665.67v5.212a.652.652,0,0,1-.069.291l-2.66,5.6,2.5,2.479,0,0a.653.653,0,0,1,.222.5v3.471a.671.671,0,0,1-.671.668.644.644,0,0,1-.469-.186l-.008-.006-3.719-3.7a14.935,14.935,0,0,1-3.8,4.98,9.986,9.986,0,0,1-6.516,2.154A10.067,10.067,0,0,1,0,37.944Zm4.109-.09a6.325,6.325,0,0,0,6.282,6.353c3.993,0,5.64-2.633,7.3-6.12L10.074,30.8C7.437,32,4.109,34.019,4.109,37.854Zm135.938-9.27A2.856,2.856,0,1,1,142.9,31.43,2.811,2.811,0,0,1,140.046,28.585Zm.445,0a2.411,2.411,0,1,0,2.409-2.443A2.386,2.386,0,0,0,140.491,28.585Zm1.373,1.645V26.94h1.267c.745,0,1.075.32,1.075.908a.888.888,0,0,1-.83.92l.985,1.461h-.477l-.93-1.461h-.684l0,1.462Zm.407-2.945v1.14h.538c.5,0,.992-.015.992-.575,0-.458-.385-.566-.785-.566ZM108.847,11.229c0-6.408,4.686-11.118,10.806-11.118a8.5,8.5,0,0,1,7.824,4.323V.669A.671.671,0,0,1,128.15,0h2.684a.669.669,0,0,1,.67.668v21a.669.669,0,0,1-.67.669H128.15a.673.673,0,0,1-.673-.669V18.061a8.512,8.512,0,0,1-7.824,4.286C112.874,22.347,108.847,17.095,108.847,11.229Zm4.027.039V11.3a7.222,7.222,0,0,0,7.36,7.3,6.888,6.888,0,0,0,6.545-4.17,7.821,7.821,0,0,0,.735-3.127,6.633,6.633,0,0,0-.619-3.125,7.03,7.03,0,0,0-6.739-4.324A7.2,7.2,0,0,0,112.874,11.267ZM48.72,11.229C48.72,4.821,53.406.111,59.526.111a8.5,8.5,0,0,1,7.825,4.323V.669h0A.67.67,0,0,1,68.023,0h2.684a.668.668,0,0,1,.67.668v21a.669.669,0,0,1-.67.669H68.023a.675.675,0,0,1-.672-.669V18.061a8.514,8.514,0,0,1-7.825,4.286C52.749,22.347,48.72,17.095,48.72,11.229Zm4.029.039V11.3a7.223,7.223,0,0,0,7.357,7.3,6.89,6.89,0,0,0,6.548-4.17,7.828,7.828,0,0,0,.734-3.127,6.62,6.62,0,0,0-.618-3.125A7.029,7.029,0,0,0,60.03,3.855,7.2,7.2,0,0,0,52.749,11.267Zm50.192,11.068a.666.666,0,0,1-.669-.667V10.3a7.649,7.649,0,0,0-1.163-4.67,4.12,4.12,0,0,0-3.756-1.738A4.6,4.6,0,0,0,93.288,5.9a6.935,6.935,0,0,0-.969,4.246l0,11.509v.012a.671.671,0,0,1-.615.667H88.917a.669.669,0,0,1-.669-.667l.006-11.521A7.331,7.331,0,0,0,87.4,5.978a4.886,4.886,0,0,0-7.979-.037A7.423,7.423,0,0,0,78.3,10.225V21.667a.673.673,0,0,1-.673.667H74.942a.669.669,0,0,1-.67-.667v-21A.671.671,0,0,1,74.942,0H77.4a.668.668,0,0,1,.669.669l0,3.033A7.287,7.287,0,0,1,84.458.111a7.015,7.015,0,0,1,5.423,2.241A11.452,11.452,0,0,1,91.236,4.4a8.942,8.942,0,0,1,1.51-2.085,8.375,8.375,0,0,1,11.233-.077c1.857,1.891,2.323,3.9,2.323,7.913V21.667a.667.667,0,0,1-.645.667Zm-60.127,0a.668.668,0,0,1-.671-.667l0-.3V10.3a7.652,7.652,0,0,0-1.163-4.67,4.117,4.117,0,0,0-3.756-1.739A4.6,4.6,0,0,0,33.16,5.9a6.935,6.935,0,0,0-.967,4.246V21.667a.665.665,0,0,1-.616.661v.006H28.79a.667.667,0,0,1-.669-.667c0-.017,0-.035,0-.051V10.147a7.318,7.318,0,0,0-.853-4.169,4.451,4.451,0,0,0-3.987-2.085,4.431,4.431,0,0,0-3.991,2.048,7.441,7.441,0,0,0-1.123,4.284V21.667a.673.673,0,0,1-.672.667H14.815a.666.666,0,0,1-.67-.667v-21A.668.668,0,0,1,14.815,0h2.457a.67.67,0,0,1,.669.668l0,3.033A7.284,7.284,0,0,1,24.33.111a7.023,7.023,0,0,1,5.422,2.238A11.673,11.673,0,0,1,31.106,4.4a8.964,8.964,0,0,1,1.512-2.085,7.773,7.773,0,0,1,5.576-2.2A7.81,7.81,0,0,1,43.85,2.234c1.857,1.889,2.323,3.9,2.323,7.913V21.667a.668.668,0,0,1-.644.667ZM133.9,16.384c0-.021-.01-.064-.01-.066a.686.686,0,0,1-.011-.093.67.67,0,0,1,.67-.669h2.673a.669.669,0,0,1,.659.563,3.537,3.537,0,0,0,3.647,2.835,3.247,3.247,0,0,0,3.448-3.128c-.04-2.084-1.627-2.778-5.383-4.014-2.944-.887-5.266-2.278-5.305-5.443,0-3.974,3.254-6.369,7.087-6.369,2.724,0,6.225,1.259,6.907,5.263.006.024.02.089.022.1s0,.048,0,.067a.667.667,0,0,1-.67.668H145.01a.668.668,0,0,1-.662-.576l0-.006a2.674,2.674,0,0,0-3.014-2.234,2.733,2.733,0,0,0-3.022,2.7c.08,1.659,1.587,2.431,3.835,3.05,3.215.887,6.74,1.814,6.856,6.328.078,4.093-3.33,6.873-7.512,6.873C138.357,22.236,134.51,20.561,133.9,16.384ZM78.068.669h0Zm0,0Z" fill="#323232"></path> </svg>
          <blockquote>
              <p>“The best thing about this process, and in partnering with Peoplebank, has been their determination to understand and deliver upon our objectives. Peoplebank truly has a talented team.”</p>
          </blockquote>
          <!-- <figcaption>— <cite>Mamas & Papas</cite></figcaption> -->
        </figure>
      </div>
    </section>

    <div class="band">
      <h2 class="center-text">What can you do with our ATS?</h2>
      <div class="functions width-l">

        <div class="function-item">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120">
              <rect fill="#ddd" width="120" height="120"/>
              <text fill="rgba(0,0,0,0.5)" font-family="sans-serif" font-size="30" dy="10.5" font-weight="bold" x="50%" y="50%" text-anchor="middle">120</text>
            </svg>
          </div>
          <div>
            <h3>Manage Candidates</h3>
            <p>Easily review and manage all of your candidate applications and CVs through your ATS. Send documentation and communicate with candidates through every stage of the application process.</p>
          </div>
        </div>

        <div class="function-item">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120">
              <rect fill="#ddd" width="120" height="120"/>
              <text fill="rgba(0,0,0,0.5)" font-family="sans-serif" font-size="30" dy="10.5" font-weight="bold" x="50%" y="50%" text-anchor="middle">120</text>
            </svg>
          </div>
          <div>
            <h3>Manage job adverts</h3>
            <p>Create and post new job adverts to all your chosen job boards directly from your ATS. See a live preview of your ads before you post them, and edit and manage existing job ads.</p>
          </div>
        </div>

        <div class="function-item">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120">
              <rect fill="#ddd" width="120" height="120"/>
              <text fill="rgba(0,0,0,0.5)" font-family="sans-serif" font-size="30" dy="10.5" font-weight="bold" x="50%" y="50%" text-anchor="middle">120</text>
            </svg>
          </div>
          <div>
            <h3>Build your talent bank</h3>
            <p>Search your ATS to find all the candidates that have applied for any of your current and past open roles within your ATS. Refine your search results with over twenty different search filters and make your talent bank your hiring manager's first destination for sourcing candidates.</p>
          </div>
        </div>

        <div class="function-item">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120">
              <rect fill="#ddd" width="120" height="120"/>
              <text fill="rgba(0,0,0,0.5)" font-family="sans-serif" font-size="30" dy="10.5" font-weight="bold" x="50%" y="50%" text-anchor="middle">120</text>
            </svg>
          </div>
          <div>
            <h3>Integrations</h3>
            <p>We have a range of integrations to help you manage your entire hiring process, including:</p>
            <ul class="gap-s">
              <li>Leading job boards so you can post your job adverts quickly and easily</li>
              <li>Payroll providers to make your onboarding process for new hires as smooth as possible</li>
              <li>Integrations to streamline your candidate journey, including electronic signature and interview scheduling platforms</li>
            </ul>
          </div>
        </div>

        <div class="function-item">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120">
              <rect fill="#ddd" width="120" height="120"/>
              <text fill="rgba(0,0,0,0.5)" font-family="sans-serif" font-size="30" dy="10.5" font-weight="bold" x="50%" y="50%" text-anchor="middle">120</text>
            </svg>
          </div>
          <div>
            <h3>Reporting</h3>
            <p class="gap-s">Use custom reports to track and measure the performance of your job adverts and other channels. Monitor the number of clicks and applications for each job advert and see the number of candidates offered interviews and the number of hires made. Track key hiring metrics and monitor your marketing spend to see which candidate sources are the most productive - ensure your marketing budget is going towards the correct job boards.</p>
          </div>
        </div>

        <div class="function-item">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120">
              <rect fill="#ddd" width="120" height="120"/>
              <text fill="rgba(0,0,0,0.5)" font-family="sans-serif" font-size="30" dy="10.5" font-weight="bold" x="50%" y="50%" text-anchor="middle">120</text>
            </svg>
          </div>
          <div>
            <h3>Training</h3>
            <p class="gap-s">Inside the ‘Training Centre’ on your Peoplebank dashboard, you’ll find detailed video guides showing you how to use each section of your Peoplebank ATS. As well as your initial onboarding we offer regular live training sessions so we can help you get the most out of every feature of your ATS.</p>
          </div>
        </div>

        <div class="function-item">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120">
              <rect fill="#ddd" width="120" height="120"/>
              <text fill="rgba(0,0,0,0.5)" font-family="sans-serif" font-size="30" dy="10.5" font-weight="bold" x="50%" y="50%" text-anchor="middle">120</text>
            </svg>
          </div>
          <div>
            <h3>Authorisation to recruit</h3>
            <p>We work with you to make sure your authorisation to recruit (ATR) process is fully integrated with your ATS. Whether you want to start by creating a job advert which automatically goes live as soon as the ATR is approved, or the approval alerts you to create the job advert. We can automate the process to make hiring as easy as possible for you and your team.</p>
          </div>
        </div>

      </div>
    </div>

  </main>
  <Footer />
</body>
</html>