---
import logo from "../img/pb-logo.svg";
import sprites from "../img/sprites.svg";
---
<footer class="footer">
  <div class="width-l">
    <div>
      <img src={logo} alt="Peoplebank logo" />
      <svg><use xlink:href={`${sprites}#pb-logo`}></use></svg>
      <h3>Award winning E-Recruitment solutions built just for you.</h3>
      <p>Copyright © <span id="copyright">2022</span> Peoplebank. All rights reserved.</p>
    </div>
    <div>
      <h4>Contact Us</h4>
      <p>+44 131 653 1258</p>
      <p><a href="mailto:sales@peoplebank.com">sales@peoplebank.com</a></p>
      <p><a href="/pb3/corporate/peoplebank/privacy-policy">Privacy Policy</a></p>
    </div>
  </div>
</footer>