<nav class="nav" id="nav">
  <div class="width-l">
    <a href="/pb3/corporate/peoplebank/">
      <svg xmlns="http://www.w3.org/2000/svg" width="380" height="82" viewBox="0 0 380 82">
        <defs>
          <style>
            .cls-1 {
              fill: #333;
            }

            .cls-1, .cls-2 {
              fill-rule: evenodd;
            }

            .cls-2 {
              fill: #ffb600;
            }
          </style>
        </defs>
        <path id="Peoplebank_copy" data-name="Peoplebank copy" class="cls-1" d="M4.66,10.48V51.568Q4.66,54,7.284,54H14a2.178,2.178,0,0,0,2.5-2.432V37.936h3.776q7.935,0,12.864-4.032A13.653,13.653,0,0,0,38,22.9q0-7.68-4.8-11.3T18.42,7.984H7.284q-2.625,0-2.624,2.5h0ZM25.908,22.9q0,6.336-6.72,6.336H16.5V16.688h2.688q6.72,0,6.72,6.208h0Zm44.144,2.112q-3.84-5.119-12.416-5.12-7.68,0-12.48,4.8Q40.419,29.425,40.42,37.3q0,8.129,4.96,12.8t13.728,4.672A30.85,30.85,0,0,0,69.22,53.3a3.143,3.143,0,0,0,1.632-.96,2.557,2.557,0,0,0,.352-1.664l-0.32-3.648a1.4,1.4,0,0,0-1.472-1.6,15.133,15.133,0,0,0-3.072.832,16.1,16.1,0,0,1-5.248.832q-7.936,0-9.088-6.4H71.332q2.559,0,2.56-2.112Q73.892,30.128,70.052,25.008ZM53.764,29.136a5.691,5.691,0,0,1,4.384-1.76q5.311,0,5.376,6.784H51.876A8.1,8.1,0,0,1,53.764,29.136Zm37.288,2.016a5.962,5.962,0,0,1,10.048,0,10.852,10.852,0,0,1,1.856,6.208,11.046,11.046,0,0,1-1.856,6.208,6.039,6.039,0,0,1-10.048,0A11.123,11.123,0,0,1,89.26,37.36a10.738,10.738,0,0,1,1.792-6.208h0ZM82.668,50.16q5.311,4.608,13.44,4.608t13.376-4.608q5.312-4.735,5.312-12.8,0-8.191-5.312-12.8-5.248-4.671-13.376-4.672-8.193,0-13.44,4.672-5.248,4.608-5.248,12.8,0,8.129,5.248,12.8h0Zm48.808,18.112V50.544H131.6q3.456,4.224,10.176,4.224a12.411,12.411,0,0,0,10.432-4.928,18.879,18.879,0,0,0,3.84-11.968q0-8-3.52-12.928-3.456-5.055-10.624-5.056a13.414,13.414,0,0,0-6.08,1.408,10.913,10.913,0,0,0-4.416,3.9H131.22V22.96a2.009,2.009,0,0,0-2.24-2.3h-6.72a2.008,2.008,0,0,0-2.24,2.3V68.272a2.008,2.008,0,0,0,2.24,2.3h6.976a2.009,2.009,0,0,0,2.24-2.3h0Zm11.04-37.152a10.946,10.946,0,0,1,1.7,6.432,9.964,9.964,0,0,1-1.7,6.144,5.633,5.633,0,0,1-4.768,2.24,5.323,5.323,0,0,1-4.576-2.4,10.939,10.939,0,0,1-1.7-6.432,10.649,10.649,0,0,1,1.664-5.824,5.231,5.231,0,0,1,4.736-2.56A5.383,5.383,0,0,1,142.516,31.12Zm19.528,16.288a11.548,11.548,0,0,0,1.792,3.712q2.815,3.264,8.448,3.264a17.548,17.548,0,0,0,6.144-.832,3.971,3.971,0,0,0,1.472-.9,1.909,1.909,0,0,0,.384-1.28V47.408q0-2.175-1.6-2.176a9.967,9.967,0,0,0-1.44.224,9.4,9.4,0,0,1-1.7.224,2.414,2.414,0,0,1-2.4-1.5,13.162,13.162,0,0,1-.672-4.96V6.768a2.009,2.009,0,0,0-2.24-2.3H163.26a2.008,2.008,0,0,0-2.24,2.3V37.936a36.87,36.87,0,0,0,1.024,9.472h0Zm49.008-22.4q-3.84-5.119-12.416-5.12-7.68,0-12.48,4.8-4.737,4.737-4.736,12.608,0,8.129,4.96,12.8t13.728,4.672A30.85,30.85,0,0,0,210.22,53.3a3.143,3.143,0,0,0,1.632-.96,2.557,2.557,0,0,0,.352-1.664l-0.32-3.648a1.4,1.4,0,0,0-1.472-1.6,15.133,15.133,0,0,0-3.072.832,16.1,16.1,0,0,1-5.248.832q-7.937,0-9.088-6.4h19.328q2.559,0,2.56-2.112Q214.892,30.128,211.052,25.008Zm-16.288,4.128a5.691,5.691,0,0,1,4.384-1.76q5.311,0,5.376,6.784H192.876A8.1,8.1,0,0,1,194.764,29.136ZM231.22,51.7V50.544h0.128q3.456,4.224,10.432,4.224,6.783,0,10.5-4.864a19.611,19.611,0,0,0,3.776-12.288q0-7.935-3.52-12.8-3.585-4.927-10.752-4.928-6.72,0-10.112,4.544h-0.192V6.768a2.009,2.009,0,0,0-2.24-2.3H222.26a2.008,2.008,0,0,0-2.24,2.3V51.7a2.008,2.008,0,0,0,2.24,2.3h6.72a2.009,2.009,0,0,0,2.24-2.3h0Zm11.3-20.576a10.946,10.946,0,0,1,1.7,6.432,9.964,9.964,0,0,1-1.7,6.144,5.633,5.633,0,0,1-4.768,2.24,5.323,5.323,0,0,1-4.576-2.4,10.939,10.939,0,0,1-1.7-6.432,10.649,10.649,0,0,1,1.664-5.824,5.231,5.231,0,0,1,4.736-2.56A5.383,5.383,0,0,1,242.516,31.12Zm20.872-6.24a18.71,18.71,0,0,0-3.968,11.9q0,7.872,3.712,12.928T274.2,54.768a12.219,12.219,0,0,0,9.664-4.352h0.384V51.7a2.008,2.008,0,0,0,2.24,2.3h6.592a2.009,2.009,0,0,0,2.24-2.3V22.96a2.009,2.009,0,0,0-2.24-2.3h-6.976a2.008,2.008,0,0,0-2.24,2.3v1.152h-0.32q-3.456-4.224-10.048-4.224a12.482,12.482,0,0,0-10.112,4.992h0Zm9.632,18.656a10.64,10.64,0,0,1-1.76-6.432,9.66,9.66,0,0,1,1.792-6.048,5.74,5.74,0,0,1,4.8-2.336,5.186,5.186,0,0,1,4.512,2.368,11.109,11.109,0,0,1,1.632,6.4,10.811,10.811,0,0,1-1.568,6.08,5.266,5.266,0,0,1-4.7,2.368A5.544,5.544,0,0,1,273.02,43.536Zm40.456,8.16V39.408q0-9.919,6.4-9.92a3.935,3.935,0,0,1,3.84,2.144q1.087,2.145,1.088,7.456V51.7a2.008,2.008,0,0,0,2.24,2.3h6.976a2.009,2.009,0,0,0,2.24-2.3V33.264q0-6.272-3.264-9.824t-9.216-3.552A11.542,11.542,0,0,0,313.6,25.072H313.22V22.96a2.009,2.009,0,0,0-2.24-2.3h-6.72a2.008,2.008,0,0,0-2.24,2.3V51.7a2.008,2.008,0,0,0,2.24,2.3h6.976a2.009,2.009,0,0,0,2.24-2.3h0ZM343.02,6.768V51.7a2.008,2.008,0,0,0,2.24,2.3h6.976a2.009,2.009,0,0,0,2.24-2.3V37.936l10.24,14.528A5.137,5.137,0,0,0,366,53.712a4.151,4.151,0,0,0,1.856.288h8.64q1.6,0,1.6-1.216a1.637,1.637,0,0,0-.384-0.96l-12.1-15.68,10.432-13.312a1.448,1.448,0,0,0,.384-0.96q0-1.215-1.6-1.216h-7.936a4.628,4.628,0,0,0-1.856.256,4.69,4.69,0,0,0-1.344,1.408l-9.216,12.352V6.768a2.009,2.009,0,0,0-2.24-2.3H345.26a2.008,2.008,0,0,0-2.24,2.3h0Z"/>
        <path id="arrow_parts_copy" data-name="arrow parts copy" class="cls-2" d="M377.581,69.281l-46.25,10.281,7-8.657H174.215l-9.549,5.952h-5l9.549-5.952h-5.767L153.833,77.4l-5-.541,8.785-5.952h-4.169L143.833,77.4h-5.416l9.29-6.493h-0.874A3.343,3.343,0,0,1,146,69a3.6,3.6,0,0,1,.833-1.884h0.745L138,61.164h5.833l8.021,5.952h6.032l-9.469-5.411,6.249-.541,8.021,5.952h5.729l-9.166-5.952h5l9.548,5.952H338.553L330.914,59Z"/>
      </svg>
    </a>
    <ul class="nav-list">
      <li><a href="/pb3/corporate/peoplebank/solutions">Solutions</a></li>
      <li>
        <a href="/pb3/corporate/peoplebank/candidate-experience">Candidate Experience</a>
        <ul>
          <li><a href="/pb3/corporate/peoplebank/careers-sites">Careers sites</a></li>
          <li><a href="/pb3/corporate/peoplebank/job-adverts">Job adverts</a></li>
          <li><a href="/pb3/corporate/peoplebank/application-forms">Application forms</a></li>
          <li><a href="/pb3/corporate/peoplebank/candidate-support">Candidate support</a></li>
        </ul>
      </li>
      <li><a href="/pb3/corporate/peoplebank/clients">Clients</a></li>
      <li><a href="/pb3/corporate/peoplebank/integrations">Integrations</a></li>
      <li><a href="/pb3/corporate/peoplebank/about-us">About Us</a></li>
      <li><a href="/pb3/corporate/peoplebank/resources">Resources</a></li>
      <li><a href="/pb3/corporate/peoplebank/contact">Contact</a></li>
    </ul>
  </div>
</nav>