---
import logo from "../img/pb-logo.svg";
import sprites from "../img/sprites.svg";
---
<nav class="container" id="nav">
  <a href="/pb3/corporate/peoplebank/">
    <img src={logo} alt="Peoplebank logo" />
  </a>
  <ul class="nav-list">
    <li><a href="/pb3/corporate/peoplebank/solutions">Solutions</a></li>
    <li>
      <a class="has-dropdown" href="/pb3/corporate/peoplebank/candidate-experience">Candidate Experience <svg><use xlink:href={`${sprites}#down-arrow`}></use></svg>
      </a>
      <ul>
        <li><a href="/pb3/corporate/peoplebank/careers-sites">Careers sites</a></li>
        <li><a href="/pb3/corporate/peoplebank/job-adverts">Job adverts</a></li>
        <li><a href="/pb3/corporate/peoplebank/application-forms">Application forms</a></li>
        <li><a href="/pb3/corporate/peoplebank/candidate-support">Candidate support</a></li>
      </ul>
    </li>
    <li><a href="/pb3/corporate/peoplebank/clients">Clients</a></li>
    <li><a href="/pb3/corporate/peoplebank/integrations">Integrations</a></li>
    <li><a href="/pb3/corporate/peoplebank/about-us">About Us</a></li>
    <li><a href="/pb3/corporate/peoplebank/resources">Resources</a></li>
    <li><a href="/pb3/corporate/peoplebank/contact">Contact</a></li>
  </ul>
</nav>

<style>

nav {
  --edge-gap: 2rem;
  background: var(--clr-nav);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 10rem;
}

nav ul {
  list-style: none;
  cursor: default;
}

nav li {
  display: inline-block;
  margin: 0 1.25rem;
  position: relative;
}

nav li:last-of-type {
  margin-right: 0;
}

.nav-list a {
  color: var(--clr-ink);
  padding: 0.5rem;
  display: block;
  font-size: 0.9375rem;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
  text-decoration: none;
  position: relative;
}

.has-dropdown {
  position: relative;
}

.has-dropdown svg {
  height: 0.61255rem;
  margin-left: 0.25rem;
  width: 0.75rem;
}

.nav-list > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  transform: scale(0);
  background: var(--clr-primary);
  transition: transform var(--transition-time) ease-in-out;
  transform-origin: 100% 50%;
}

.nav-list a:hover:after {
  transform: scale(1);
  transform-origin: 0 50%;
}

.nav-list ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.3s ease;
  margin: 1rem 0 0;
  left: 0;
  display: block;
  z-index: 10;
  padding: 0;
}

.nav-list li:hover > ul,
.nav-list li:focus-within > ul,
.nav-list li ul:hover,
.nav-list li ul:focus {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}

.nav-list ul li {
  clear: both;
  width: 100%;
  background: #eee;
  margin: 0;
}

.nav-list ul li:hover {
  background: #ddd;
}

.nav-list ul a {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}
</style>

<script>
console.log("%c ¯\\_(ツ)_/¯", "font-size: 2rem");

let currentPath = window.location.href;
let navLinks = document.querySelectorAll(".nav-list a");

navLinks.forEach(function (element) {
  if (element.href == currentPath) {
    element.classList.add("active");
  }
});
</script>
